AIOPS_SESSION_MEMORY_ENABLED=true
AIOPS_SESSION_MEMORY_DEBUG_API=false
AIOPS_SESSION_MEMORY_BACKEND=file
AIOPS_SESSION_MEMORY_WINDOW=20
AIOPS_SESSION_MEMORY_SUMMARIZE_BATCH=15
AIOPS_SESSION_MEMORY_MAX_TURN_CHARS=4000
